<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Erro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="alert alert-danger">
          <p class="lead"><%=error%></p>
        </div>
        <a href="/"><button class="btn btn-lg btn-success">Voltar para página inicial</button></a>
      </div>
    </div>
  </div>
</body>
</html>