<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>VTEX Spotify</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Gerador de playlist VTEX</h1>
        <p class="lead">Para gerar sua playlist customizada &eacute; necess&aacute;rio fazer login no Spotify</p>
        <button class="btn btn-lg btn-success">Fazer login no Spotify</button>
      </div>
    </div>
  </div>
</body>
</html>