<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Gerador de playlist</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">
        <strong><%=username%></strong>, esta é a sua playlist personalizada. <br/>
        Foram analisadas aproximadamente <strong><%=tracksProcessedCount%></strong> músicas da sua coleção.
      </p>
    </div>
  </div>
  <div class="row playlist">
    <div class="col-md-12">
      <div class="row header">
        <div class="col-md-4">Nome</div>
        <div class="col-md-3">Artista</div>
        <div class="col-md-5">Álbum</div>
      </div>
      <% tracks.forEach(function(track) { %>
      <div class="row track">
        <div class="col-md-4 track-name">
          <strong><%=track.name[0]%></strong><%=track.name.substring(1)%>
        </div>
        <div class="col-md-3 track-artist">
          <%=track.artist%>
        </div>
        <div class="col-md-5 track-album">
          <%=track.album%>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/login-spotify"><button class="btn btn-lg btn-success">Gerar novamente</button></a>
    </div>
  </div>
</div>
</body>
</html>